@import "../../../node_modules/bulma/sass/grid/columns.sass";



.divregroupee{
    margin: 0 auto;
}	

.button{
    color: rgb(111,143,189);
    background-color: rgb(111,143,189);
}

body{
    background-image:url(https://images.pexels.com/photos/1558690/pexels-photo-1558690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
  }